#gridContainer {
    height: 440px;
}

.options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.option > span {
    margin-right: 10px;
}

.option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
}

/*Test*/
#container {
    width: 300px;
    height: 120px;
    margin: 5px;
}

#buttons {
    display: flex;
}

/*Grid Loader*/

/* CSS */
.dx-datagrid-loadpanel {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dx-datagrid-loadpanel.dx-loadpanel-visible {
    opacity: 1;
}